body {
    padding: 0;
    margin: 0;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

.main-section {
    background-color: hsl(216, 50%, 16%);
    width: 375px;
    box-sizing: border-box;
    margin: 10% auto;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-section h1 {
    color: hsl(0, 0%, 100%);
    font-family: "Outfit";
    font-weight: 600;
    margin: 1.2rem 0;
    font-size: 1.3rem;
}
.main-section h1:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}
.main-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.view {
    position: relative;
    border-radius: 0.5rem;
}

.icon {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:aqua;
    border-radius: .5rem;
    opacity: 0;
}
.view-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    border-radius: 50%;

}
.icon:hover{
    opacity: 0.5;
    cursor: pointer;
}
.view:hover .view-icon{
    opacity: 1;
    cursor: pointer;
}

p {
    color: hsl(215, 51%, 70%);
    font-family: "Outfit";
    font-weight: 300;
    margin: 0 0 1rem 0;
}

hr {
    border-style: solid;
    width: 100%;
    border: solid 1px hsl(215, 32%, 27%);
    border-top: none;

}

.price-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0;
    text-align: center;
}

.price-part span {
    /* display: block; */
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}

.price-part .price {
    color: hsl(178, 100%, 50%);
    display: flex;
}

.price-part .day-left {
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;

}

.price-part .price img {
    width: 0.8rem;
}

.price-part img {
    width: 1rem;
    margin-right: 0.2rem;
}

.avatar-part {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0.5rem 0;
}

.avatar-part p {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

.avatar-part p span {
    color: hsl(0, 0%, 100%);
}
.avatar-part p span:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}
.avatar-part img {
    width: 10%;
    border: solid 1px white;
    border-radius: 50%;
    margin-right: 1rem;
}